body {
margin: 0;
background-image: url("../images/cork-wallet.png");
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
overflow: scroll;
}

.banner {
	background-color: #ffffff;
	width: 100%;
	height: 80px;
	position: relative;
	border-bottom: 2px solid #cccccc;
	margin: 0;
}

.name {
	width: 20%;
	text-align: center;
	position: absolute;
	background-color: #4aaaa5;
	color: white;
	bottom: 0;
	left: 100px;
}

h1 {
	padding: 25px;
	font-size: 35px;
}

nav {
	position: absolute;
	right: 200px;
	bottom: 30px;
	font-size: 15px;
	color: #777777;

}

.page {
	position: relative;
	margin: 20px 100px 0px 100px;
	min-height: 100%;
	width: 960px;
	
}

.group:after {
	content: "";
	display: table;
	clear: both;
	zoom: 1;
}

.content {
	border: 2px solid #dddddd;
	background-color: #ffffff;
	position: absolute;
	width: 650px;
	padding: 20px;
	box-sizing: border-box;
	overflow: hidden;
	
}

.profilePic {
	width: 200px;
	float: left;
	margin: 20px 30px 20px 0;
}

p {
	font-size: 18px;
	line-height: 150%;
	color: #777777;
}

.connect {
	border: 2px solid #dddddd;
	background-color: #ffffff;
	position: absolute;
	width: 270px;
	right: 0;
	padding: 20px;
	text-align: center;
	box-sizing: border-box;
	
}

.icon {
	width: 60px;
}

.stack {
	width: 54px;
	bottom: 3px;
	position: relative;
}

h2 {
	color: #4aaaa5;
	font-size: 28px;
	padding: 15px;
}

h3 {
	font-size: 25px;
	color: #4aaaa5;
	padding: 15px;
}

a {
	text-decoration: none;
	color: #777777;
}

a:hover {
	color: #4aaaa5;
}

footer {
	background-color: #666666;
	position: absolute;
	bottom: -20px;
	width: 100%;
	padding: 30px;
	text-align: center;
	color: #CFCFCF;
	border-top-color: #4aaaa5;
	border-top-style: solid;
	border-top-width: 8px;
	font-size: 12px;
	left: 0;
}

h1, h2, h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

form {
	font-size: 20px;
	color: #777777;

}

label {
	
}

input {
	margin: 10px 0 15px 0;
	height: 18px;
	font-size: 15px;
	width: 98%;
	padding: 5px;
	border: 1px solid #d3d3d3;


}

.mess {
	min-height: 150px;
	width: 100%;
	margin: 10px 0 15px 0;
	border: 1px solid #d3d3d3;

}

hr {
	margin-bottom: 20px;
	border: 1px solid #d3d3d3;
}

button {
	width: 100px;
	height: 40px;
	background-color: #4aaaa5;
	border: 0;
	color: white;
	font-size: 15px;
}

.portPic {
	width: 250px;
	float: left;
	margin: 0 40px 20px 0;
	box-sizing: border-box;
}

.caption {
	position: relative;
	background-color: #4aaaa5;
	padding: 10px;
	bottom: 50px;
	color: white;
	text-align: center;
}

#con {
	bottom: -100px;
}

#port {
	bottom: -650px;
}
